<%- layout('./layouts/boilerplate')%>

<div class="row">
        <div class="col-8">
                <h1> Show Campground </h1>

                <h3> <%=campground.title%> </h3>
                <p> <%=campground.location%></p>
                <p> <%=campground.price%></p>
        
        
                <a href="/campgrounds/<%=campground._id%>/edit"> Edit </a>
        
                <form action="/campgrounds/<%=campground._id%>/?_method=DELETE" method="POST">
                <button> Delete </button>
                </form>
        
                <a href="/campgrounds"> All Campgrounds </a>
        </div>

        <div class="col-4">
                <h1>Leave a Review </h1>
                <form class="needs-validation" method="POST" action="/campgrounds/<%=campground._id%>/review" novalidate>

                        <div class="mb-3">
                                <label for="customRange2" class="form-label">Rating</label>
                                <input type="range" name="review[rating]" class="form-range" min="1" max="5" id="customRange2">
                                
                        </div>

                        <div class="mb-3">
                          <label for="review" class="form-label">Review</label>
                          <textarea class="form-control" name="review[review]" id="review" rows="3" required></textarea>
                          <div class="invalid-feedback">
                            Please provide a review.
                          </div>
                        </div>
            
                        <button type="submit" class="btn btn-primary">Leave Review </button>
                      </form>
                    </form>

                    <ul>
                        <% for (let review of campground.reviews) { %>
                                <li><%=review.review %> - <%=review.rating%></li>

                                <form action="/campgrounds/<%=campground._id%>/review/<%=review._id%>?_method=DELETE" method="POST">                  
                                        <button class="btn btn-danger">Delete</button>
                                </form>
                        <% } %>
                    </ul>
        </div>
</div>
        